* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans";
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("./fonts/KumbhSans-Regular.woff2") format("woff2"), url("./fonts/KumbhSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans-bold";
  src: url("./fonts/KumbhSans-Bold.woff2") format("woff2"), url("./fonts/KumbhSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.main-container {
  background-color: #fff;
  min-height: 100vh;
  max-width: 1440px;
  width: 100%;
  display: flex;
  position: relative;
}
.main-container .background-shade-mobile {
  max-width: 1440px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  position: absolute;
  display: none;
  transition: all 0.5s ease;
}
.main-container .menu-bar {
  background-color: #FF7E1B;
  position: relative;
  position: absolute;
  z-index: 1;
  max-width: 250px;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  padding: 20px;
  transition: all 0.5s ease;
  display: none;
}
.main-container .menu-bar .close-bar {
  position: relative;
}
.main-container .menu-bar .close-bar svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.main-container .menu-bar .close-bar svg path {
  fill: #fff;
}
.main-container .menu-bar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 40px;
}
.main-container .menu-bar ul li {
  padding-top: 15px;
}
.main-container .menu-bar ul a {
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  color: #fcfcfc;
  font-family: "Kumbh Sans-bold";
}
.main-container .menu-bar ul a:hover {
  color: #1D2026;
  border-bottom: 4px orange solid;
}
.main-container .page {
  position: relative;
  height: 100%;
  width: 100%;
}

.cart-box {
  background-color: #FFFFFF;
  max-width: 360px;
  position: absolute;
  width: 100%;
  right: 0;
  top: 15%;
  right: 56px;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  border-radius: 10px;
  display: none;
}
.cart-box.active {
  display: block;
}
.cart-box span {
  color: #1D2026;
  border-bottom: 1px #E4E9F2 solid;
  font-size: 16px;
  line-height: 20px;
  font-family: "Kumbh Sans-bold";
  padding: 24px;
  display: block;
}

.empty-cart p {
  text-align: center;
  color: #69707D;
  font-size: 16px;
  line-height: 26px;
  font-family: "Kumbh Sans-bold";
  padding: 70px;
}

.cart-info-body {
  display: flex;
  align-items: center;
  padding: 24px;
}
.cart-info-body .img-icon img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.text-cart-box {
  margin: 16px;
}
.text-cart-box p {
  font-size: 16px;
  line-height: 26px;
  color: #69707D;
  font-family: "Kumbh Sans";
}
.text-cart-box .span-price {
  display: flex;
}
.text-cart-box .span-price .one-price {
  font-size: 16px;
  color: #69707D;
  border: none;
  padding: 0;
  font-family: "Kumbh Sans";
}
.text-cart-box .span-price .sum-price {
  color: #1D2026;
  font-size: 16px;
  border: none;
  padding: 0;
  margin-left: 8px;
}

.delete {
  cursor: pointer;
}

.button-cart {
  display: flex;
  justify-content: center;
  padding: 24px 32px;
}
.button-cart button {
  border: none;
  background-color: #FF7E1B;
  max-width: 312px;
  width: 100%;
  height: 56px;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.light-box {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.light-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  position: relative;
}
.light-container .cancel {
  top: -28px;
  position: absolute;
  z-index: 1;
  right: 21px;
  cursor: pointer;
}
.light-container .cancel path:hover {
  fill: #FF7E1B;
  transition: 0.5s;
}
.light-container .light-image {
  width: 445px;
  height: 445px;
  margin-left: 16px;
  cursor: pointer;
}
.light-container .light-image #light-img1 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}
.light-container .light-image #light-img2 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  display: none;
}
.light-container .light-image #light-img3 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  display: none;
}
.light-container .light-image #light-img4 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  display: none;
}

.previous {
  background-color: #fff;
  width: 56px;
  height: 56px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  left: -2%;
  cursor: pointer;
}
.previous path:hover {
  stroke: #FF7E1B;
  transition: 0.3s;
}

.next {
  background-color: #fff;
  width: 56px;
  height: 56px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  right: 0;
  cursor: pointer;
}
.next path:hover {
  stroke: #FF7E1B;
  transition: 0.3s;
}

.light-optional-image {
  display: flex;
  position: relative;
}
.light-optional-image .light-1 {
  padding: 16px;
  cursor: pointer;
  position: relative;
}
.light-optional-image .light-1 .light-product {
  width: 88px;
  height: 88px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  border: transparent 2px solid;
  transition: 0.5s;
}
.light-optional-image .light-1 .light-product:hover {
  opacity: 0.5;
}
.light-optional-image .light-1 .light-product.active {
  border-color: #FF7E1B;
}

.header {
  display: flex;
  margin: 40px 40px;
  align-items: center;
  border-bottom: 1px solid #E4E9F2;
  justify-content: space-between;
}
.header .menu-tab-mobile {
  display: none;
}
.header .logo-nav {
  display: flex;
}

.nav-bar {
  margin-left: 40px;
}
.nav-bar ul {
  display: inline-flex;
  list-style-type: none;
}
.nav-bar ul li {
  font-size: 15px;
  line-height: 26px;
}
.nav-bar ul a {
  text-decoration: none;
  color: #69707D;
  padding: 10px;
}
.nav-bar ul a:hover {
  color: #1D2026;
  border-bottom: 4px orange solid;
}

.cart-part {
  display: flex;
  align-items: center;
}
.cart-part .cart {
  cursor: pointer;
  position: relative;
}
.cart-part .cart-count {
  background-color: #FF7E1B;
  position: absolute;
  width: 19px;
  height: 13px;
  border-radius: 6.5px;
  top: -7px;
  left: 9px;
  bottom: 0;
  display: none;
  color: #fff;
  font-size: 10px;
  text-align: center;
}
.cart-part .avatar img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 30px;
  border: transparent 2px solid;
  border-radius: 50px 50px;
  transition: 0.4s;
}
.cart-part .avatar img:hover {
  border: #FF7E1B 2px solid;
  border-radius: 50px 50px;
}

.images-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  position: relative;
}

.main-image {
  width: 445px;
  height: 445px;
  margin-left: 16px;
  cursor: pointer;
}
.main-image #main-img1 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}
.main-image #main-img2 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  display: none;
}
.main-image #main-img3 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  display: none;
}
.main-image #main-img4 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
  display: none;
}

.page-box {
  justify-content: center;
  align-items: center;
  display: flex;
}

.optional-image {
  display: flex;
}
.optional-image .image1 {
  margin: 16px;
  cursor: pointer;
  position: relative;
}
.optional-image .image1:hover:after {
  opacity: 1;
}
.optional-image .image1 .image-list {
  width: 88px;
  height: 88px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  transition: 0.3s;
  border: transparent 2px solid;
}
.optional-image .image1 .image-list:hover {
  opacity: 0.5;
}
.optional-image .image1 .image-list.active {
  border-color: #FF7E1B;
}

.info-container {
  padding: 40px;
  max-width: 555px;
  width: 100%;
}
.info-container .text-part span {
  margin-top: 27px;
  color: #FF7E1B;
  font-size: 13px;
  line-height: 16px;
  font-family: "Kumbh Sans-bold";
  text-transform: uppercase;
}
.info-container .text-part h1 {
  margin-top: 27px;
  color: #1D2026;
  font-family: "Kumbh Sans-bold";
  text-transform: capitalize;
  font-size: 28px;
  line-height: 32px;
}
.info-container .text-part p {
  margin-top: 32px;
  color: #69707D;
  font-size: 16px;
  line-height: 26px;
  text-transform: none;
}

.price {
  margin-top: 32px;
}
.price .sale-tag {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.price .sale-tag span {
  color: #1D2026;
  font-size: 28px;
  line-height: 34px;
  font-family: "Kumbh Sans-bold";
}
.price .sale-tag .sale {
  margin-left: 15px;
  border-radius: 6px;
  background-color: #FFEEE2;
  color: #FF7E1B;
  font-size: 16px;
  text-align: center;
  padding: 3px 8px;
  font-family: "Kumbh Sans-bold";
}
.price .old-price {
  font-size: 16px;
  color: #B6BCC8;
  font-family: "Kumbh Sans-bold";
  text-decoration: line-through;
}

.button-box {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 31px;
}
.button-box .count-box {
  padding: 20px 0px;
  background-color: #F6F8FD;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.button-box .count-box img {
  margin: 0 15px;
  cursor: pointer;
}
.button-box .count-box span {
  font-family: "Kumbh Sans-bold";
  padding: 0 40px;
}
.button-box button {
  margin-left: 15px;
  font-size: 16px;
  line-height: 19px;
  padding: 17px 70px;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #FF7E1B;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: "Kumbh Sans-bold";
  transition: 0.4s;
}
.button-box button:hover {
  background-color: #FFAB6A;
}
.button-box button svg {
  margin-right: 15px;
}

@media only screen and (max-width: 992px) {
  .header {
    margin: 15px;
    border-bottom: unset;
  }
  .header .menu-tab-mobile {
    display: block;
    margin-left: 20px;
  }
  .cart-box {
    z-index: 1;
    top: 11%;
    right: 8px;
  }
  .empty-cart p {
    margin-top: 64px;
  }
  .optional-image {
    display: none;
  }
  .page-box {
    display: unset;
  }
  .page-box .images-container {
    margin-left: unset;
  }
  .page-box .main-image {
    width: unset;
    height: 300px;
    margin-left: unset;
    display: flex;
  }
  .page-box .main-image #main-img1 {
    border-radius: unset;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nav-bar ul {
    display: none;
  }
  .button-box {
    display: block;
  }
  .info-container .text-part p {
    margin-top: 16px;
  }
  .price {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
  }
  .price .old-price {
    margin-top: 5px;
  }
  .button-box .count-box {
    max-width: 327px;
    width: 100%;
    margin-bottom: 16px;
  }
  .button-box button {
    max-width: 327px;
    width: 100%;
    margin-left: unset;
  }
}/*# sourceMappingURL=index.css.map */